@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-image: url(../img/dylan1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.blurb {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 380px;
    text-align: center;
    font-family: MontSerrat;
    color: grey;
    font-weight: 400;
    font-size: 45px;
    display: block;
    padding: 10px;
      pointer-events: none;
}
.bar {
    border-radius: 0 0 0 0;
    height: 100vh;
    left: 0;
    top: 0;
    width: 400px;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bar .title {
    font-size: large;
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    margin: 25px 0;
    z-index: 2;
}
.bar .title a {
    text-decoration: none;
    color: black;
    transition: color ease 0.1s;
.}
.bar .title a:hover {
    color: grey;
}

.bar .links {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 2;
}

.bar .links img {
    margin: 0 10px;
    width: 50px;
    height: 100%;
    transition: transform ease 0.2s;
}

.bar .links img:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 820px) {
    .blurb {
            font-size: 8vw;
        color: white;
        bottom: 0;
        left: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0;
    }
  .bar {
    height: 55px;
    width: 100%;
    justify-content: center;
  }
  .bar .title {
      display: none;
  }
  
  .bar .links {
      padding: 0;
  }
}
